@import 'base/base';
@import 'components/components';
@import 'layout/layout'

/*
base: contained within this file are all your resets, variables, mixins, and any utility classes.
layout: contains all the CSS that handles the layout, such as the container and any grid systems.
components: anything reusable such as buttons, navbars, cards etc.
main: it should ONLY contain the imports for the above files.

I chose this layout since I wanted to focus more on quality of a small webpage, then making things
unneccesarily complicated 
*/



