
.header {
    position: sticky;
    display: flex;
    top: 0;
    @include footer_or_header;
    .logo{
        width: 20%;
     }
    @include footer_or_header_hidden;
    a{ 
        @include footer_or_header_anchor;
    }
    nav{
        width: 80%;
        ol,ul{
          list-style:none;
          display: flex;
          color: $header-nav;
          justify-content: space-around;
       }
    }
 }

.footer {
    @include footer_or_header;
    @include footer_or_header_hidden;
    a{
        @include footer_or_header_anchor;
    }
}

.gridlike{
    display: grid;
    @include gridflip;
    justify-content: space-between;
    article{
      padding: 10px;
      border: .1px solid grey;
      border-radius: 5px; 
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .content{
         @include gridimg;
      }
      .redirect {
         margin-top: auto;
       }     
    }  
 }
 
.form {
    display: grid;
    @include formfocus;
    input[name="name"] {
        width: 50%;
     }
    row-gap: 10px;
    button {
       width: 30%;
    }
}
 
 